.login-container {
  width: 100vw;
  height: 100vh;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container h1 {
  text-align: center;
  margin: 30px 0px 20px 0px;
  font-weight: 500;
}

.login-container form {
  background: #fff;
  max-width: 400px;
  width: 100%;
  padding: 0px 44px 58px 44px;
  border: 1px solid #e1e2f0;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
  transition: all 0.3s ease;
  position: relative;
}

.login-container .row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-container .row label {
  font-size: 13px;
  color: #8086a9;
  text-transform: capitalize;
}

.login-container .row input {
  flex: 1;
  padding: 13px;
  border: 1px solid #d6d8e6;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
}

.login-container .row input:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.login-container .row input::placeholder {
  color: #c8cddf;
}

.login-container button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background: mediumslateblue;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  margin-top: 15px;
  transition: opacity 0.2s ease-out;
}

.login-container button:hover {
  opacity: 0.8;
}

@media (max-width: 458px) {
  .login-container form {
    background: none;
    border: none;
    box-shadow: none;
    padding: 20px 20px;
  }
}
